.colorbox {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  position: relative;
  box-shadow: 5px 10px 10px #eeeeee;
  border-radius: 10px;
}

.colorbox__colorcode {
  width: 100px;
  margin: auto;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.3rem;
}

.colorbox__container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.colorbox__delete-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  color: black;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.colorbox__name {
  margin: auto;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.4rem;
}
