.colorbox {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  position: relative;
}

.colorbox__colorcode {
  width: 80px;
  margin: auto;
  justify-content: center;
  background-color: white;
}

.colorbox__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.colorbox__delete-button {
  background: white;
  color: black;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}
