.form-container {
  margin: auto;
  padding: 30px;
  background-color: #eeeeee;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__input {
  align-self: center;
}

.form__button {
  width: 30%;
  align-self: center;
  margin-top: 10px;
  border: none;
  background-color: black;
  color: white;
}
