.form-container {
  margin: auto;
  padding: 30px;
  background-color: #eeeeee;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__input {
  align-self: center;
}

.form__button {
  width: 25%;
  align-self: center;
  margin-top: 10px;
  border: none;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #eeeeee;
  transition: 200ms ease-in-out;
}

.form__button:hover {
  box-shadow: 1px 2px 5px darkgrey;
}
